@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.container.portfolio_container {
  width: 90%;
}
.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;
}

#portfolio {
  display: grid;
  justify-items: center;
}

.portfolio_item {
  display: grid;
  grid-template-rows: 2fr 2.8rem;
  background: var(--color-bg-variant);
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio-item-top {
  padding: 1rem;
}

.portfolio_item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.badge {
  text-align: right;
  margin-top: 0.4rem;
}

.badge div {
  display: inline-block;
  font-size: 0.7rem;
  border: 1px solid var(--color-bg);
  border-radius: 1rem;
  color: var(--bg-white);
  background-color: var(--color-bg);
}

.portfolio_item small {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--color-primary);
}

.portfolio_item-cta {
  display: flex;
  gap: 1rem;
  margin: 2rem 0 1rem;
}

.process {
  border-top: 1px solid var(--color-bg);
  display: flex;
  justify-content: center;
  background: transparent;
}

.process:hover {
  background-color: var(--color-bg-variant);
  border: transparent;
  border-end-end-radius: 2rem;
  border-bottom-left-radius: 2rem;
  transition: var(--transition);
}

.process-btn {
  color: var(--color-bg);
  background-color: transparent;
  font-weight: 600;
  cursor: pointer;
  font-size: medium;
  width: 100%;
}

.process-btn-icon {
  display: grid;
  justify-content: center;
}


.btn.btn-disabled:hover {
  background-color: transparent;
  color: var(--bg-white);
  cursor: not-allowed;
}

.btn.btn-primary-disabled:hover {
  background-color: transparent;
  color: var(--bg-white);
  cursor: not-allowed;
}


.work-process-section {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  width: 90%;

}

/* ==================== WORK PROCESS ====================== */

.process_container {
  display: grid;
  padding: 1rem;
  border-radius: 2rem;
  border: 2px solid var(--color-bg-variant);
}

.process-headline {
  text-align: center;
  color: var(--color-primary);
}

.process-content-section-one {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  justify-items: baseline;
  margin-top: 2rem;
  align-items: center;
}

.section-one-des,
.section-two-des {
  margin: 1rem 0 0 2rem;
}

.process-content-section-two {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-items: center;
}

.project-image,
.portfolio-image {
  width: 20rem;
  margin-top: 1rem;
  transform: rotate(1.5deg);
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.logo-description {
  font-weight: 400;
  border-radius: 1.5rem;
  padding: 0.5rem;
  text-align: center;
}

.zerli-logo {
  width: 12rem;
}

.me-image {
  width: 12rem;
  margin-left: 2rem;
  object-fit: contain;
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 12rem;
  overflow: hidden;
}

.donkey-logo {
  width: 15rem;
}

.donkey-pic {
  width: 12rem;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;

}

.pic-2 {
  margin-left: 5rem;
  height: 11rem;
}

.donkey-pic-3 {
  border-radius: 1rem;
  width: 15rem;
  margin-top: 2rem;
  transform: rotate(-2deg);
}

.project-video {
  display: grid;
  justify-content: center;
}

.project-video {
  width: 25rem;
  border-radius: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* ==================== MEDIA QUERIS (VERY LARGE DEVICES) ====================== */

@media screen and (min-width: 2040px) {
  .container.portfolio_container {
    width: 70%;
  }
  .process_container {
    margin: 1.5rem 0;
    text-align: center;
  }

  .work-process-section {
    width: 80%;
  }

}

/* ==================== MEDIA QUERIS (LARGE DEVICES) ====================== */

@media screen and (min-width: 1024px) {
  
  .donkey-pic {
    width: 65%;
  }

  .donkey-pic-3 {
    width: 25rem;
  }

  .section-one-des,
  .section-two-des {
    font-size: larger;
  }

  .small-devices {
    display: none;
  }
}

/* ==================== MEDIA QUERIS (MEDIUM-LARGE DEVICES) ====================== */

@media screen and (min-width: 800px) {
  .portfolio_item-image img {
    height: 15rem;
  }

}



/* ==================== MEDIA QUERIS (MEDIUM DEVICES) ====================== */

@media screen and (max-width: 1024px) {

  .container.portfolio_container {
    width: 60%;
  }

  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 0.8rem;
    justify-items: center;
    /* width: 50%; */
  }

  .work-process-section {
    width: 110%;
  }

  .process-content-section-one {
    grid-template-columns: 1fr 1fr;
  }

  .process-content-section-two {
    grid-template-columns: 1fr 1fr;

  }

  .logo-description {
    bottom: 1rem;
    left: 20%;
  }

  .section-two-des,
  .section-one-des,
  .first-video,
  .second-video {
    margin: 1.5rem 0;
    width: 100%;
    text-align: center;
  }

  .donkey-pic-3 {
    width: 20rem;
  }

  .large-devices {
    display: none;
  }

}

/* ==================== MEDIA QUERIS (SMALL DEVICES) ====================== */

@media screen and (max-width: 800px) {
  .container.portfolio_container {
    width: auto;
    margin:0 1rem;
    justify-items: center;
  }
  /* .work-process-section {

    width: 90%;
  } */
  .process-content-section-one {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .process-content-section-two {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .project-video {
    width: 14rem;
  }
  .me-image {
    width: 10rem;
    margin-left: 0;
  }

  .portfolio-image {
    width: 14rem;
    
  }

  .donkey-logo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 12rem;
  }
  .donkey-pic {
    margin-left: -1rem;
  }
  .pic-2 {
    margin: 0;
    margin: 1rem;
  }
  
  .donkey-pic-3 {
    width: 14rem;
  }

  .project-image,
  .arrow-p {
    display: none;
  }

  .small-devices {
    width: 90%;
  }

}